*.gem
.bundle
Gemfile.lock
pkg/*
nbproject


test/dummy*/.bundle
test/dummy*/db/*.sqlite3
test/dummy*/log/*.log
test/dummy*/tmp/
test/dummy*/vendor/bundle/

test/dummy310rc6/app/controllers/root_controller.rb
test/dummy3010/app/controllers/root_controller.rb
test/dummy310rc6/log/dependencies/
test/dummy3010/log/
